<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/home/login.css" />
    <script src="JS/home/login.js" defer></script>
    <title>로그인</title>
  </head>
  <body>
    <!-- <input id="id" type="text" placeholder="아이디" /><br />
    <input id="pw" type="text" placeholder="비밀번호" /><br />
    <button id="loginBtn">로그인</button> -->
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input id="id" type="text" placeholder="아이디" />
          <input id="pw" type="text" placeholder="비밀번호" />
          <button id="loginBtn">로그인</button>
          <p class="message">
            회원이 아니신가요? <a href="/register">회원가입하기</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
