<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/home/login.css" />
    <script src="JS/home/register.js" defer></script>
    <title>회원가입</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input id="id" type="text" placeholder="아이디" />
          <input id="pw" type="text" placeholder="비밀번호" />
          <input id="confirmPw" type="text" placeholder="비밀번호 확인" />
          <input id="nickname" type="text" placeholder="닉네임" />
          <button type="button" id="registerBtn">회원가입</button>
          <p class="message">
            이미 회원이신가요?<a href="/login">로그인하기</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
